<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <title>Calculate odds</title>
  <style>
    .action-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .action {
      background-color: lightgray;
      height: 100px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <h1>Calculate odds</h1>

  <form method="POST" action="/calculate_odds">
    <!-- Team 1 Label -->
  <label for="player1_name" class="team-label">Team 1 </label>
  <select id="player1_name" name="player1_name">
      <option value="" {% if not player1_name %}selected{% endif %} disabled>Select player 1</option>
      {% for player in players %}
          <option value="{{ player }}" {% if player == player1_name %}selected{% endif %}>{{ player }}</option>
      {% endfor %}
  </select>
  
  <br>
  <select id="player2_name" name="player2_name">
      <option value="" {% if not player2_name %}selected{% endif %} disabled>Select player 2</option>
      {% for player in players %}
          <option value="{{ player }}" {% if player == player2_name %}selected{% endif %}>{{ player }}</option>
      {% endfor %}
    </select>
    {% if team1_expected_score is defined and team1_expected_scoreQuotation is defined %}
        <table class="centered-table">
          <tr>
            <td class="chance-of-winning">🏆 Chance of winning: {{ team1_expected_score }}% </td>
          </tr>
          <tr>
            <td class="chance-of-winning">💰 Odd: {{ team1_expected_scoreQuotation }} </td>

          </tr>
        </table>
    
        {% endif %}
  
  <br>
    <!-- Team 1 Label -->
  <label for="player3_name" class="team-label">Team 2 </label>
  <select id="player3_name" name="player3_name">
      <option value="" {% if not player2_name %}selected{% endif %} disabled>Select player 3</option>
      {% for player in players %}
          <option value="{{ player }}" {% if player == player3_name %}selected{% endif %}>{{ player }}</option>
      {% endfor %}
  </select>
  
  <br>
  <select id="player4_name" name="player4_name">
      <option value="" {% if not player4_name %}selected{% endif %} disabled>Select player 4</option>
      {% for player in players %}
          <option value="{{ player }}" {% if player == player4_name %}selected{% endif %}>{{ player }}</option>
      {% endfor %}
    </select>
    {% if team1_expected_score is defined and team1_expected_scoreQuotation is defined %}
        <table class="centered-table">
          <tr>
            <td class="chance-of-winning">🏆 Chance of winning: {{ team2_expected_score }}% </td>
          </tr>
          <tr>
            <td class="chance-of-winning">💰 Odd: {{ team2_expected_scoreQuotation }} </td>

          </tr>
        </table>
    
        {% endif %}
  
  <br>
  
    <br>
    <input type="submit" value="calculate odds">
  </form>
  

<!-- Do more section -->
<div class="do-more">
  <h2>Explore more options</h2>
  <p>Make the most of your game time with our all-in-one platform. Calculate your odds, compare your ranking, and upload your game results quickly and easily.</p>
</div>




<div class="action-grid">
  <a href="/" class="action action2">Upload game</a>
  <a href="calculate_odds" class="action action2">Calculate odds</a>
  <a href="/rating" class="action action3">Ranking</a>
  <a href="/rating" class="action action4">Ranking analysis</a>
</div>


</div>

</div>
</body>
</html>
