<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <title>Create Game</title>
</head>
<body>
  <h1>Create a game</h1>
  <form id="game-form" method="POST">
    <label for="player1_name">Player 1 name:</label>
    <select id="player1_name" name="player1_name">
        <option value="" selected disabled>-- Select Player 1 --</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <!-- ... -->
    <label for="player2_name">Player 2 name:</label>
    <select id="player2_name" name="player2_name">
        <option value="" selected disabled>-- Select Player 2 --</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <!-- ... -->
    <label for="player3_name">Player 3 name:</label>
    <select id="player3_name" name="player3_name">
        <option value="" selected disabled>-- Select Player 3 --</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <!-- ... -->
    <label for="player4_name">Player 4 name:</label>
    <select id="player4_name" name="player4_name">
        <option value="" selected disabled>-- Select Player 4 --</option>
        {% for player in players %}
        <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <!-- ... -->
    <input type="submit" value="Create game">
</form>
<script>
  // Add an event listener for form submission
  document.querySelector("form").addEventListener("submit", function() {
    // Set a timeout to reset the select options after form submission
    setTimeout(function() {
      document.getElementById("player1_name").selectedIndex = 0;
      document.getElementById("player2_name").selectedIndex = 0;
      document.getElementById("player3_name").selectedIndex = 0;
      document.getElementById("player4_name").selectedIndex = 0;
    }, 100);
  });
</script>

</body>
</html>


