<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .action-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
        }
        .action {
          background-color: lightgray;
          height: 100px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
    <body class="thank-you-page">
</head>
<body>
    <h1>Rating!</h1>

    <p>Thank you for uploading the match details. <br>Here is a summary of the match:</p>

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>First Name</th>
                <th>Rating</th>
                <th>Last Match</th>
            </tr>
        </thead>
        <tbody>
            {% for player in player_ratings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ player[0] }}</td>
                    <td>{{ player[1] }}</td>
                    <td>{{ player[2].strftime('%d-%m-%y %H:%M') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <p>If you need to make any corrections, you can delete the match by clicking the button below:</p>


    <!-- Do more section -->
<div class="do-more">
    <h2>Do more</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada tortor eget massa ultrices dictum. Sed luctus libero ac est mollis lacinia. Donec maximus convallis ex, sed laoreet eros iaculis nec.</p>
  </div>
  
  
  <div class="action-grid">
    <a href="/" class="action action2">Upload game</a>
    <a href="calculate_odds" class="action action2">Calculate odds</a>
    <a href="/rating" class="action action3">Ranking</a>
    <a href="/rating" class="action action4">Ranking analysis</a>
  </div>
  
  
  </div>
  </body>

</html>
