<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <title>Upload a game</title>
  <style>
    .action-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .action {
      background-color: lightgray;
      height: 100px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <h1>Upload a game</h1>

  <form method="POST" id="game_form">
    <!-- Team 1 Label -->
    <label for="player1_name" class="team-label">Team 1 </label>
    <select id="player1_name" name="player1_name">
        <option value="" disabled selected>Select player 1</option>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <br>
    <select id="player2_name" name="player2_name">
        <option value="" disabled selected>Select player 2</option>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <!-- Team 1 Score Label -->
    <label for="team1_score" class="score-label">Score</label>
    <input type="number" id="team1_score" name="team1_score" value="" min="0" max="11" inputmode="numeric">
    <br>
    <!-- Team 2 Label -->
    <label for="player1_name" class="team-label">Team 2 </label>
    <select id="player3_name" name="player3_name">
        <option value="" disabled selected>Select player 3</option>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <br>
    <select id="player4_name" name="player4_name">
        <option value="" disabled selected>Select player 4</option>
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>
    <!-- Team 2 Score Label -->
    <label for="team2_score" class="score-label">Score</label>
    <input type="number" id="team2_score" name="team2_score" value="" min="0" max="11" inputmode="numeric">
    <!-- Game Date Label -->
    <label for="game_date" class="date-label">Date</label>
        <input type="date" id="game_date" name="game_date" value="">
        <script>
          // Get today's date and format it as yyyy-mm-dd
          var today = new Date();
          var year = today.getFullYear();
          var month = ('0' + (today.getMonth() + 1)).slice(-2);
          var day = ('0' + today.getDate()).slice(-2);
          var formattedDate = year + '-' + month + '-' + day;
          // Set the default value of the game_date input to today's date
          document.getElementById("game_date").value = formattedDate;
      
          function validateForm() {
              // Get the selected player names
              const player1 = document.getElementById("player1_name").value;
              const player2 = document.getElementById("player2_name").value;
              const player3 = document.getElementById("player3_name").value;
              const player4 = document.getElementById("player4_name").value;
      
              // Check if all four players are different
              if (player1 === player2 || player1 === player3 || player1 === player4 || player2 === player3 || player2 === player4 || player3 === player4) {
                  alert("Please select four different players.");
                  return false;
              }
      
              // Get the scores
              const team1_score = document.getElementsByName("team1_score")[0].value;
              const team2_score = document.getElementsByName("team2_score")[0].value;
      
              // Check if the scores are integers between 0 and 11
              if (!Number.isInteger(+team1_score) || !Number.isInteger(+team2_score)) {
                  alert("Scores must be integers between 0 and 11.");
                  return false;
              } 
      
              // Check if the scores are not equal
              if (team1_score === team2_score) {
                  alert("Scores cannot be equal.");
                  return false;
              }
      
              // Check if the scores are not greater than 11
              if (team1_score > 11 || team2_score > 11) {
                  alert("Scores cannot be greater than 11.");
                  return false;
              }

              // Check if the scores are not greater than 11
              if (team1_score -1 || team2_score <= -1) {
                  alert("Scores cannot be lower than 1.");
                  return false;
              }
      
              // Check if one of the scores is equal to 11
              if (team1_score != 11 && team2_score != 11) {
                  alert("One of the scores must be equal to 11.");
                  return false;
              }
      
              // If all conditions are met, submit the form
              document.getElementById("game_form").submit();
          }
      </script>
      
    <br>
    <input type="submit" value="Create game" onclick="return validateForm()">
  </form>
<!-- Do more section -->
<div class="do-more">
  <h2>Explore more options</h2>
  <p>Make the most of your game time with this all-in-one platform. Calculate your odds, compare your ranking, and upload your game results quickly and easily.</p>
</div>


<div class="action-grid">
  <a href="/" class="action action2">Upload game</a>
  <a href="/calculate_odds" class="action action2">Calculate odds</a>
  <a href="/rating" class="action action3">Ranking</a>
  <a href="/match_list" class="action action4">Match history</a>
  <a href="/rating_evolution" class="action action3">Rating evolution</a>
  <a href="/metrics" class="action action4">Players Metrics (new)</a>
</div>


</div>
</body>
</html>



</body>
</html>
