<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .action-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
        } 
        .action {
          background-color: lightgray;
          height: 100px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
       
      </style>
          <body class="thank-you-page">

</head>
<body>
    <h1>Player Rankings</h1>
<p>See where you stand in the competition!

<table style="text-align: center;">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Last Match</th>
        </tr>
    </thead>
    <tbody>
        {% for player in player_ratings %}
            <tr>
                <td>
                    {% if loop.index == 1 %}
                        🥇
                    {% elif loop.index == 2 %}
                        🥈
                    {% elif loop.index == 3 %}
                        🥉
                    {% else %}
                        {{ loop.index }}
                    {% endif %}
                </td>
                <td>{{ player[0] }}</td>
                <td>{{ player[1] }}</td>
                <td>{{ player[2].strftime('%d-%m-%y %H:%M') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
</div>


<!-- Do more section -->
<div class="do-more">
  <h2>Explore more options</h2>
  <p>Make the most of your game time with this all-in-one platform. Calculate your odds, compare your ranking, and upload your game results quickly and easily.</p>
</div>

<div class="action-grid">
    <a href="/" class="action action2">Upload game</a>
    <a href="calculate_odds" class="action action2">Calculate odds</a>
    <a href="/rating" class="action action3">Ranking</a>
    <a href="/match_list" class="action action4">Match history</a>
</div>
</body>

</html>